@model MM.Library.Entities.RenterAccountEdit
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">  
    <div class="row">
   
        <div class="span1">
           <h2>
        Edit</h2>
        </div>
        <div class="span10 well">
            @using (Html.BeginForm("Edit", "Renter", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend><span class="editor-label">
                     <strong>   @Html.DisplayFor(model => model.Renter.FullName)</strong>
                    </span></legend>
                    <address>                       
                        @Html.DisplayFor(model => model.Renter.Addresses[0].LineOne)<br>
                        @Html.DisplayFor(model => model.Renter.Addresses[0].CityTown), 
                        @Html.DisplayFor(model => model.Renter.Addresses[0].StateProvince)
                          @Html.DisplayFor(model => model.Renter.Addresses[0].PostalCode)<br>
                        <abbr title="Phone">
                            P:</abbr>
                        (123) 456-78906.
                    </address>
                    <div class="control-group">
                        @Html.LabelFor(model => model.CreateDate)
                        @Html.DisplayFor(model => model.CreateDate, new { @class = "controls" })
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(model => model.CreateUserID)
                        @Html.DisplayFor(model => model.CreateUserID)
                    </div>
                    <p>
                        <input type="submit" value="Save" />
                    </p>
                </fieldset>
            }
        </div>
    </div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
