@using MM.Library.Entities
@model MM.Library.Entities.RenterAccountEdit

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@{
    var myRenter = (PersonEdit) Model.Renter;
}


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>RenterAccountEdit</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreateDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreateDate)
            @Html.ValidationMessageFor(model => model.CreateDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreateUserID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreateUserID)
            @Html.ValidationMessageFor(model => model.CreateUserID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AccountNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AccountNumber)
            @Html.ValidationMessageFor(model => model.AccountNumber)
        </div>
        
         <div class="editor-label">
            @Html.LabelFor(model => model.Renter )
        </div>
        <div class="editor-field">
            <input type="text" id="LastName" value=""/>
            @Html.EditorFor(model => myRenter.LastName)
            @Html.ValidationMessageFor(model => myRenter.LastName)
        </div>
    @*    
         <div class="editor-label">
            @Html.LabelFor(model => model.Renter.Addresses[0].LineOne)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Renter.Addresses[0].LineOne)
            @Html.ValidationMessageFor(model => model.Renter.Addresses[0].LineOne)

        </div>
*@
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
